* {
    /*border-radius:  0;*/
    outline:        none;
}

window {
    padding:        0;
    box-shadow:     none;
}

decoration, window, window.background {
    border-radius:  0;
}

.background.csd {
    border-radius: 0;
}
