/* Label Color. Config default is white. */
label {
    font:           14px Terminus;
    color:          #ffffff;
    background:     #444444;
    margin:         4px 0px;
    padding:        0px 6px 0px 6px;
}

label#t-0, label#t-1, label#t-2, label#t-3, label#t-4, label#t-5, label#t-6 {
    font:               20.5px Terminus;
    color:              #222222;
    background-color:   #444444;
    margin-left:        0px;
    padding:            0px;
}

label#a-0, label#a-1, label#a-2, label#a-3, label#a-4, label#a-5, label#a-6, label#a-7 {
    font:               20.5px Terminus;
    color:              #444444;
    background-color:   #222222;
    margin-right:       0px;
    padding:            0px;
}

label#kernel, label#t-0 { background-color: #68287e; }
label#a-1 { color: #68287e; }

label#memory, label#t-2 { background-color: #12488b; }
label#a-3 { color: #12488b; }

label#fan2, label#t-4 { background-color: #c01c28; }
label#a-5 { color: #c01c28; }

/* Button Configuration */
button {
    font-weight:    normal;
    border:         none;
    box-shadow:     none;
    margin-bottom: -8px;
    margin-top:    -8px;
    padding-right:  0;
    padding-left:   0;
}
