window {
    background-image: url("/home/pi/.local/share/wall");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.8);
}

#clock-label {
    font-family: Terminus;
    font-size: 32px;
    font-weight: bold;
}
